* {
  margin: 0;
  box-sizing: border-box;
}
.card {
  border: solid 2px gray;
  margin-top: 2rem;
  text-align: center;
  width: 23%;
  height: 25 rem;
  border-radius: 1rem;
  background-color: gainsboro;
}

#ime {
  padding: 0.5rem;
  padding-top: 1rem;
  font-size: 1.2rem;
  text-align: center;
  color: Black;
}
.img {
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
}
.img img {
  float: left;
  margin-top: 1rem;
  object-fit: cover;
  border-radius: 50%;
  height: 70%;
  width: 50%;
}
.card p {
  padding: 0.2rem;
  font-size: 1rem;
  font-weight: 500;
}
#pe {
  color: rgba(0, 0, 0, 0.463);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 1rem;
  display: inline-block;
  padding-left: 1rem;
}
#brojevi {
  font-size: 1.7rem;
  padding-left: 1.5rem;
  margin-left: 2rem;
  display: inline-block;
}
.card h2 {
  margin-top: -0.5rem;
  font-size: 1rem;
  color: rgb(84, 82, 82);
  margin-bottom: 0.5rem;
}
.card a {
  color: black;
  cursor: pointer;
}

.card hr {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  border: solid 1px white;
}
